# Version control
.git
.gitignore

# IDEs
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local build artifacts
gobot
gobot.exe
dist/
tmp/

# Env files
.env
.env.*
!.env-sample

# Local scratch or cache config
scratch/
.config/
